 body {
	margin: 0;
	padding: 0;
 }

.menu li {
    list-style-type: none;
	text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 20px;
	padding : 16px 22px;
}

.menu a:hover{
	background:#0ba6b8;
	color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #010101;
    justify-content: space-between;
}

 .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
	display: block;
	padding: 35px 0; 
    margin-left: auto;
    margin-right: auto;
}
/*......................................................................................................................................................................................*/
.container{
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.second_div ul{
	padding: 0;
	margin: 25px;
}

.slide1{
	background: linear-gradient(#ffffff, #d9d9d9);
}
h3{
	font-size: 14px;
	font-family: "nevis";
	color: rgb(41, 41, 41);
	font-weight: bold;
}
p{
	font-size: 11px;
	font-family: "Arial";
	color: rgb(41, 41, 41);
}
.second_div{
    border: 1px solid darkgray;
    width: 290px;
	height: 332px;
}
.div_picture{
    height: 335px;
    width: 650px;
    background-image: url(../images/slider_1.png);
    background-repeat: no-repeat;
}
li{
    display: block;  
}

li a{
	color: darkgray;
	text-decoration: none;
}

hr{
    width: 228px;
    border: darkgray 1px solid; 
}

/*..................................................................................................................................*/
.boxes{
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;
}

.boxTitle{
	background: linear-gradient(#ffffff, #d9d9d9);
	padding: 20px;
}

.work{
	width: 220px;
	height: 180px;
	margin-right: 20px;
	border: 1px solid #a0a0a0;
	background-image: url(../images/work_img.png);
}

.follow{
	width: 220px;
	height: 180px;
	margin-right: 20px;
	border: 1px solid #a0a0a0;
}

.followIcon img{
	margin: 10px;
	width: 30px;
	height: 30px;
}

.followIcon{
	margin-top: 10px;
}

.about{
	width: 460px;
	height: 180px;
	border: 1px solid #a0a0a0;
}

.aboutContent{
	margin: 20px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb(41, 41, 41);
	line-height: 2;
}

.aboutContent a{
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	color: #393939;
}


.line  {
	border-top: 1px dotted #a0a0a0; 
	height: 20px;
	margin-top: 20px; 
   }

.bigFooter{
	background: #000000;
	color: #a0a0a0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
}

.fromTwitter{
	width: 290px;
}

.title{
		font-size: 14px;
		font-family: "nevis";
		color: #a0a0a0;
		font-weight: bold;
		text-transform: uppercase;
}

date,postTitle{
		font-size: 14px;
		font-family: "Arial";
		color: #a0a0a0;
		font-weight: bold;
}

.content{
		font-size: 14px;
		font-family: "Arial";
		color: #a0a0a0;
}

.footerFlickr{
	width: 290px;
}

footer {
    height: 57px;
    background-color: #ffffff;
    font-size: 10px;
    font-family: "Arial";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: gray;
    text-transform: uppercase;
}